<div class="wrapper">
	

	<div class="home-banner">

		<div class="row align-items-center">
		  <div class="col-12 col-md-8 text-center text-banner">
	      <h1>Premium Digital Marketing <br>
	      Demand Side Platform</h1>
	      <h3>100% Self Service Platform</h3>
				<%= link_to 'Join now', "https://selfydsp.aidaform.com/free-membership-registration-form", target: "_blank", class: "btn btn-gradient" %>
	    </div>
	    <div class="col-12 col-md-4">
	      <%= render 'components/icon-rocket' %>
	    </div>
	  </div>
	</div>

	<%= render 'components/platform-images' %>

	<%= render 'components/description-1' %>

	<div class="text-center btn-down">
		<%= link_to 'Join now', "https://selfydsp.aidaform.com/free-membership-registration-form", target: "_blank", class: "btn btn-gradient" %>
	</div>

	<%= render 'components/features-boxes' %>
	

	<%= render 'components/description-2' %>
	<%= render 'components/trusted-users' %>


	<%= render 'components/description-selfy' %>
	<%= render 'components/footer' %>

  <div class="background-shape">
  </div>

</div>